# dependencies
node_modules/
.pnp
.pnp.js

# builds
dist/
build/
.next/
out/
*.tsbuildinfo

# turbo
.turbo/

# env
.env
.env.local
.env.*.local
!.env.example

# expo
apps/mobile/.expo/
apps/mobile/web-build/
*.orig.*

# prisma
apps/api/prisma/*.db

# logs
*.log
npm-debug.log*

# os / editor
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# vercel
.vercel/

# coverage
coverage/
